{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="screen" />
<script src="{% static "js/jquery-1.12.2.min.js" %}" type="text/javascript"></script>
<script src="{% static "js/reconnecting-websocket.min.js" %}" type="text/javascript"></script>

<div id="chats">
    <div class='room' id='room'>
        <h2></h2>
        <div class='messages'></div>
        <input>
        <button>Send</button>
    </div>
</div>

    <script>
        var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + "/chat/stream/";
            console.log("Connecting to " + ws_path);
            var socket = new ReconnectingWebSocket(ws_path);

            setTimeout(()=>{
                socket.send(JSON.stringify({
                    "command": "join",
                    "room": 5
                }));
            },1000);
         

        $(function () {
            $("button").on("click", ()=> {
                socket.send(JSON.stringify({
                    "command": "send",
                    "room": "request",
                    "message": $("input").val()
                }))
                $("input").val("");
            });
           

            socket.onmessage = function (message) {
                console.log("Got websocket message " + message.data);
                var data = JSON.parse(message.data);
                if (data.error) {
                    alert(data.error);
                    return;
                }
                if (data.join) {
                    console.log("Joining room " + data.join);
              
                } else if (data.message || data.msg_type != 0) {
                    var messages = $('.messages').val() +'<br>'+data.message+'<br>';
                    $('.messages').append(messages);
                    console.log(messages)
                   
                } else {
                    console.log("Cannot handle message!");
                }
            };
           
            socket.onopen = function () {
                console.log("Connected to chat socket");
            };
            socket.onclose = function () {
                console.log("Disconnected from chat socket");
            }
        });
    </script>



